/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Set a maximum width */
    border-radius: 8px; /* Optional: Rounded corners */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.search-container {
    position: absolute; /* Membuat elemen ini berada di atas konten lainnya */
    top: 50%; /* Posisi vertikal tengah */
    left: 50%; /* Posisi horizontal tengah */
    transform: translate(-50%, -50%); /* Menggeser elemen ke tengah dengan cara menggeser setengah dari ukuran elemen */
    z-index: 1000; /* Pastikan elemen ini berada di atas elemen lainnya */
    width: 100%; /* Lebar penuh untuk container */
    padding: 20px; /* Menambah padding agar terlihat lebih baik */
    background-color: rgba(255, 255, 255, 0.9); /* Background dengan transparansi */
    border-radius: 8px; /* Rounded corners untuk tampilan yang lebih baik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan untuk memberikan efek kedalaman */
}
