{% extends 'base_navbar.html' %}

{% block content %}
<h1>Daftar Promo</h1>

<hr>

<!-- Loop through all promos -->
{% for promo in promos %}
<div>
    <p><strong>{{ promo.promo_title }}</strong></p>
    <p>Resto: {{ promo.restaurant_name }}</p>
    <p>{{ promo.promo_description }}</p>
    <p>Berlaku hingga: {{ promo.batas_penggunaan }}</p>

    <hr>
</div>
{% empty %}
<!-- Display this section if no promos are available -->
<p>Tidak ada promo yang berlaku saat ini!</p>
{% endfor %}

{% endblock %}