{% extends 'base_navbar.html' %}

{% block content %}
<h1>{{ user.foodieprofile.full_name }}'s Favorites</h1>

{% if not favorite %}
<p>Yuk Jelajahi Produk Baru</p>
<!-- Button ke Explore -->
 
{% else %}
<!-- Bakal dipisahin blm kelar -->
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Asal Restoran</th>
    <th>Harga</th>
    <th>Kategori</th>
  </tr>

  {% for produk in favorite %}
  <tr>
    <td>{{produk.name}}</td>
    <td>{{produk.restaurant}}</td>
    <td>{{produk.price}}</td>
    <td>{{produk.category}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}


{% endblock content %}