{% extends 'base_navbar.html' %}

{% block content %}
<h1>{{ user.foodieprofile.full_name }}'s Favorites</h1>

<h2>Want to Try</h2>
{% if want_to_try %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Asal Restoran</th>
    <th>Harga</th>
    <th>Kategori</th>
  </tr>

  {% for produk in want_to_try %}
  <tr>
    <td>{{produk.product.product_name}}</td>
    <td>{{produk.product.restaurant}}</td>
    <td>{{produk.product.price}}</td>
    <td>{{produk.product.category}}</td>
    <td>
      <a href="{% url 'favorites:edit_favorite' produk.pk %}">
          <button>
              Edit
          </button>
      </a>
    </td>
    <td>
      <a href="{% url 'favorites:delete_favorite' produk.pk %}">
          <button>
              Delete
          </button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>Kamu belum punya kuliner favorit</p>
<a href="{% url 'products:main' %}">
  <button>
      Yuk Jelajahi Kuliner Palu!
  </button>
</a>
{% endif %}
<br>

<h2>Loving It</h2>
{% if loving_it %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Asal Restoran</th>
    <th>Harga</th>
    <th>Kategori</th>
  </tr>

  {% for produk in loving_it %}
  <tr>
    <td>{{produk.product.product_name}}</td>
    <td>{{produk.product.restaurant}}</td>
    <td>{{produk.product.price}}</td>
    <td>{{produk.product.category}}</td>
    <td>
      <a href="{% url 'favorites:edit_favorite' produk.pk %}">
          <button>
              Edit
          </button>
      </a>
    </td>
    <td>
      <a href="{% url 'favorites:delete_favorite' produk.pk %}">
          <button>
              Delete
          </button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>Kamu belum punya kuliner favorit</p>
<a href="{% url 'products:main' %}">
  <button>
      Yuk Jelajahi Kuliner Palu!
  </button>
</a>
{% endif %}
<br>

<h2>All Time Favorite</h2>
{% if all_time_favorites %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Asal Restoran</th>
    <th>Harga</th>
    <th>Kategori</th>
  </tr>

  {% for produk in all_time_favorites %}
  <tr>
    <td>{{produk.product.product_name}}</td>
    <td>{{produk.product.restaurant}}</td>
    <td>{{produk.product.price}}</td>
    <td>{{produk.product.category}}</td>
    <td>
      <a href="{% url 'favorites:edit_favorite' produk.pk %}">
          <button>
              Edit
          </button>
      </a>
    </td>
    <td>
      <a href="{% url 'favorites:delete_favorite' produk.pk %}">
          <button>
              Delete
          </button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>Kamu belum punya kuliner favorit</p>
<a href="{% url 'products:main' %}">
  <button>
      Yuk Jelajahi Kuliner Palu!
  </button>
</a>
{% endif %}


{% endblock content %}