{% extends 'base_navbar.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h2 class="text-3xl text-center font-bold">Add New Product</h2>

    <form id="ProductForm" class="bg-white shadow-md rounded-lg p-6 form-style">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col w-full mb-4">
                <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-gray-700">
                    {{ field.label }}
                </label>
                <div class="w-full">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="button-group flex justify-center mt-4">
          <button type="button" class="bg-yellow hover:bg-yellow-dark text-white font-bold py-2 px-4 mx-2" onclick="window.location.href='{% url 'products:my_products' %}'">Batal</button>
          <button type="submit" class="bg-moss-green hover:bg-moss-green-dark text-white font-bold py-2 px-4 mx-2">Add</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('ProductForm').addEventListener('submit', function(event) {
    event.preventDefault();  // Mencegah pengiriman form default

    const formData = new FormData(this);
    fetch('{% url "products:create_product" %}', {  // Gunakan URL name untuk memastikan konsistensi
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Product berhasil ditambahkan!');
            window.location.href = "{% url 'products:my_products' %}";  // Halaman produk milik pengguna
        } else {
            alert('Gagal menambahkan produk: ' + JSON.stringify(data.errors));
        }
    })
    .catch(error => console.error('Error:', error)); // Menangkap error
});
</script>

{% endblock %}