{% extends 'base_navbar.html' %}

{% block content %}
<h1>
  {% if category_name %}
  <h1 class="text-3xl mt-4 text-center"><strong>Products in {{ category_name }}</strong></h1>
  {% else %}
    <h1 class="text-3xl mt-4 text-center"><strong>All Products</strong></h1>
    <!-- Dropdown Kategori -->
    <div class="text-center mt-4">
      <label for="category-select" class="text-lg font-semibold">Lihat Produk per Kategori!</label>
      <div class="relative inline-block w-64 mt-2">
        <select id="category-select" class="appearance-none w-60 p-2 bg-sage-light text-gray-800 font-medium border border-sage-dark rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-sage transition duration-300 ease-in-out hover:bg-sage-dark hover:text-white" onchange="navigateToCategory()"">
          <option value="" class="text-gray-500">-- Pilih Kategori --</option>
          {% for category in categories %}
            <option value="{% url 'products:products_by_category' category_name=category %}">{{ category|title }}</option>
          {% endfor %}
        </select>
        <span class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </span>
      </div>
    </div>
  {% endif %}
</h1>

{% if not products %}
  <p class="text-xl my-6 mt-6 font-semibold text-sage-darker text-center">{{ empty_message }}</p>
{% else %}
  <div class="p-6 my-6 m-4 w-full mx-auto flex flex-wrap justify-center gap-6 p-4">
    {% for product in products %}
      <div  onclick="window.location.href='{% url 'products:view_product' product.pk %}'" class="relative bg-yellow-light-hover shadow-lg p-6 my-6 m-4 mx-auto w-80 flex flex-col justify-center gap-4 transform duration-500 hover:shadow-2xl cursor-pointer hover:-translate-y-1">
        <div class="absolute top-5 left-5 flex space-x-2 z-10 font-semibold text-sm">
          <h5>{{ product.category }}</h5>
        </div>
        {% if user.is_authenticated and user.role == 'Foodie' %}
          <div class="absolute top-3 right-3 flex space-x-2 z-10">
            <button onclick="event.stopPropagation(); window.location.href='{% url 'favorites:create_favorite' product.pk %}'" class="w-8 h-8 bg-red hover:bg-red-dark text-white rounded-full flex items-center justify-center focus:outline-none transition duration-300">
              <svg xmlns="http://www.w3.org/2000/svg" stroke="white" fill="white" width="16px" viewBox="0 0 64 64">
                <path d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                  data-original="#000000"></path>
              </svg>
            </button>
          </div>
        {% endif %}
        <h3 class="text-2xl mt-4 font-semibold text-grey text-center product-name-spacing"><strong>{{ product.product_name }}</strong></h3>
        <p class="text-peach text-center"><strong> {{ product.restaurant }} </strong></p>
        <p class="text-grey mt-2">Harga: Rp {{ product.price }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  function navigateToCategory() {
    var select = document.getElementById("category-select");
    var selectedUrl = select.value;
    if (selectedUrl) {
      window.location.href = selectedUrl;
    }
  }
</script>

<style>
  .product-name-spacing {
    margin-top: 2rem;
  }

  #category-select option:hover {
    color: #ffffff; /* Warna teks saat dihover */
    background-color: sage-light-active; /* Ganti dengan warna sage-light-active Anda */
  }
</style>

{% endblock content %}