{% extends 'base_navbar.html' %}

{% block content %}
<h1>Products Page</h1>

<!-- Daftar Kategori -->
<h2>Browse by Category</h2>
<ul>
  <li><a href="{% url 'products:products_by_category' 'Seafood' %}">Seafood</a></li>
  <li><a href="{% url 'products:products_by_category' 'Indonesian' %}">Indonesian</a></li>
  <li><a href="{% url 'products:products_by_category' 'Chinese' %}">Chinese</a></li>
  <li><a href="{% url 'products:products_by_category' 'Western' %}">Western</a></li>
  <li><a href="{% url 'products:products_by_category' 'Snacks' %}">Snacks</a></li>
  <li><a href="{% url 'products:products_by_category' 'Beverages' %}">Beverages</a></li>
</ul>

{% if not products %}
<p>{{ empty_message }}</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Restaurant</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{ product.product_name }}</td>
    <td>{{ product.restaurant }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.category }}</td>
    <td>
      <a href="{% url 'products:view_product' product.pk %}">
          View
      </a>
    </td>
    
    {% if user.is_authenticated and user.role == 'Foodie' %}
    <td>
        <a href="{% url 'favorites:create_favorite' product.pk %}">
            <button>
                Favorite
            </button>
        </a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}


{% endblock content %}