{% extends 'minimal.html' %}
{% load static %}

{% block body %}
<main class="bg-[url({% static 'img/auth-bg.jpg' %})] bg-no-repeat bg-cover bg-right grid grid-cols-1 md:grid-cols-[70%_30%] xl:grid-cols-[60%_40%] w-full min-h-screen">
  <div class="w-full h-full flex flex-col items-center justify-center bg-white pb-24 gap-8 px-2 md:rounded-r-3xl">
    <div class="text-center">
      <h1 class="mb-2 text-4xl sm:text-5xl xl:text-6xl font-bold text-sage-dark">Sign in to PaKu</h1>
      <p class="max-lg:max-w-xs">Masuk ke akun PaKu kamu dan mulai jelajahi Kuliner Palu!</p>
    </div>

    <form method="POST" class="px-5 flex flex-col gap-2 w-96">
      {% csrf_token %}

      {% include "components/text_input.html" with field=form.username placeholder="Username" icon="user" %}
      {% include "components/text_input.html" with field=form.password type="password" placeholder="Password" icon="key-round" %}

      <button type="submit" class="py-2 px-6 bg-sage-dark text-white mt-4">
        Sign In
      </button>

      {% if messages %}
      <div class="mt-2 bg-peach-light border border-peach px-4 py-2">
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </form>

    <p>
      Belum punya akun?
      <a href="{% url 'accounts:register' %}" class="hover:underline text-sage-dark">
        Registrasi.
      </a>
    </p>
  </div>
</main>
{% endblock body %}
