{% extends 'minimal.html' %}
{% load static %}

{% block body %}
<main class="bg-[url({% static 'img/auth-bg.jpg' %})] bg-no-repeat bg-cover bg-right grid grid-cols-1 md:grid-cols-[70%_30%] xl:grid-cols-[60%_40%] w-full min-h-screen">
  <div class="w-full h-full flex flex-col items-center justify-center bg-white pb-24 gap-8 px-2 md:rounded-r-3xl">
    <div class="text-center">
      <h1 class="mb-2 text-4xl sm:text-5xl xl:text-6xl font-bold text-moss-green">Create Account</h1>
      <p class="max-sm:text-sm max-lg:max-w-xs">Buat akun PaKu dan mulai jelajahi Kuliner Palu!</p>
    </div>

    <div class="flex flex-col gap-2 text-center w-64">
      <a href="{% url 'accounts:register_foodie' %}" class="bg-sage-dark text-white py-2">
        <i data-lucide="utensils" class="inline mb-0.5 mr-3"></i>
        <span>Buat Akun Foodie</span>
      </a>
      <a href="{% url 'accounts:register_merchant' %}" class="bg-sage-dark text-white py-2">
        <i data-lucide="chef-hat" class="inline mb-0.5 mr-3"></i>
        <span>Buat Akun Merchant</span>
      </a>
    </div>
  </div>
</main>
{% endblock body %}
