{% extends 'base.html' %}

{% block navbar %}
<nav class="pt-3 sticky top-0 bg-yellow-light">
	<div class="px-10 py-4 border-y border-moss-green-darker flex flex-row items-center gap-5">
		<h1 class="text-3xl font-bold inline">PaKu</h1>

		{% if user.role == 'Foodie' %}
			<span class="font-bold">
				<a class="py-1 px-6 border-r border-moss-green-darker" href="{% url 'timeline:main' %}">Timeline</a>
				<a class="py-1 px-6 border-r border-moss-green-darker" href="{% url 'favorites:main' %}">Favorites</a>
				<a class="py-1 px-6" href="{% url 'reviews:main' %}">Reviews</a>
			</span>
		{% else %}
			<span>
				<a href="{% url 'products:main' %}">Products</a>
				<a href="{% url 'promos:main' %}">Promos</a>
			</span>
		{% endif %}
	</div>
</nav>
{% endblock navbar %}

{% block content %} {% endblock content %}
