{% extends 'base_navbar.html' %}

{% block content %}
<main>
	<div class="mb-5 text-center border-b border-moss-green-darker py-4">
		<h1 class="text-5xl font-bold mb-4">My Timeline</h1>
	</div>

	<form class="flex flex-row gap-2 mb-5">
		<input type="text" class="focus:outline-none px-2.5 flex-grow bg-white-light border border-moss-green-darker" placeholder="Apa yang ada di pikiranmu?" />
		<button class="bg-sage-dark text-white py-2 px-4">Post</button>
	</form>

	<div>
		{% for post in posts %}
		<div class="border px-6 py-4 border-moss-green-darker my-2">
			<p>
				<span>{{ post.user.foodieprofile.full_name }}</span>
				<span class="text-peach">@{{ post.user.username }}</span>
			</p>
			<p>
				{{ post.text }}
			</p>
			{% if post.user.id == user.id %}
				<a class="text-peach" href='{% url 'timeline:edit_post' post.id %}'>[edit]</a>
				&mdash; <a class="text-peach" href='{% url 'timeline:delete_post' post.id %}'>[delete]</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</main>

{% endblock content %}
