{% extends 'base_navbar.html' %}

{% block content %}
<h1>Timeline Page</h1>

<hr>

{% for post in posts %}
<div>
	<p><strong>{{ post.user.foodieprofile.full_name }}</strong> posted</p>
	<p><em>{{ post.text }}</em></p>
	<a href='{% url 'timeline:view_post' post.id %}'>[view]</a>

	{% if post.user.id == user.id %}
		&mdash; <a href='{% url 'timeline:edit_post' post.id %}'>[edit]</a>
		&mdash; <a href='{% url 'timeline:delete_post' post.id %}'>[delete]</a>
	{% endif %}
</div>

<hr>
{% endfor %}

{% endblock content %}
