{% extends 'base_navbar.html' %}

{% block content %}
<main>
  <div class="flex flex-row border-moss-green-darker border-b gap-2 mb-2 items-center">
    <a href="{% url 'timeline:main' %}">
      <i data-lucide="arrow-left"></i>
    </a>
    <h1 class="text-3xl font-bold text-center py-4">Post</h1>
  </div>

  <div class="px-6 py-4 border border-moss-green-darker bg-white">
    <div>
      <strong>
        {% if post.user.role == "Foodie" %}
          {{ post.user.foodieprofile.full_name }}
        {% else %}
          {{ post.user.merchantprofile.restaurant_name }}
        {% endif %}
      </strong>

      <span class="text-peach">@{{ post.user.username }}</span>

      {% if post.user.role == "Foodie" %}
        <i data-lucide="utensils-crossed" class="text-peach-dark inline mb-1" height="14"></i>
      {% else %}
        <i data-lucide="chef-hat" class="text-peach-dark inline mb-1" height="14"></i>
      {% endif %}

      {% if post.is_edited %}
        <small class="text-peach-dark">&mdash; edited</small>
      {% endif %}
    </div>
    <p class="break-words">
      {{ post.text|linebreaksbr }}
    </p>
  </div>

  <div id="comment-container" class="mt-2 mb-8 flex flex-col gap-2">
    <p class="border border-white-dark text-white-dark py-2 px-4">
      Belum ada komentar
    </p>
  </div>

  <form class="flex flex-row gap-2 sticky bottom-6" id="comment-form">
    <input type="text" class="focus:outline-none px-2.5 flex-grow bg-white-light border border-moss-green-darker" name="text" placeholder="Berikan komentarmu" />
    <button class="bg-sage-dark text-white py-2 px-4">Comment</button>
  </form>
</main>

<aside id="corner-down-right" hidden>
  <i data-lucide="corner-down-right" class="inline" width="16"></i>
</aside>

<aside id="pencil-line" hidden>
  <i data-lucide="pencil-line" class="inline" width="18"></i>
</aside>

<aside id="trash" hidden>
  <i data-lucide="trash" class="inline" width="18"></i>
</aside>

<aside id="utensils-crossed" hidden>
  <i data-lucide="utensils-crossed" class="text-peach-dark inline mb-1" width="14"></i>
</aside>

<aside id="chef-hat" hidden>
  <i data-lucide="chef-hat" class="text-peach-dark inline mb-1" width="14"></i>
</aside>

<script>
function getComments() {
  return fetch("{% url 'timeline:get_comments' post.id %}").then(res => res.json());
}

async function refreshComments() {
  const comments = await getComments();

  if (comments.length == 0) {
    return;
  }

  $("#comment-container").html(
    comments
      .map(comment => (
        $('<div></div>')
          .append(
            $('<div></div>')
              .append(
                $('<div></div>')
                  .html('<strong class="max-w-full text-ellipsis"></strong> <span></span>')
                  .prepend($('#corner-down-right').html())
                  .append(comment.user_role == 'Foodie' ? $('#utensils-crossed').html() : $('#chef-hat').html())
                  .find('strong')
                    .text(comment.displayname)
                    .end()
                  .find('span')
                    .text(`@${comment.username}`)
                    .addClass('text-peach').end()
                  .addClass('min-w-0 overflow-hidden')
                  .append(
                    comment.is_edited
                      ? $('<small></small>').html('<small class="text-peach-dark">&mdash; edited</small>')
                      : ''
                  )
              )
              .append(
                comment.user_id == "{{ user.id }}"
                  ? $('<div></div>')
                     .html('<a id="edit-btn"></a> <a id="delete-btn"></a>')
                     .find('#edit-btn')
                       .prop('href', `/timeline/comment/${comment.id}/edit`)
                       .html($('#pencil-line').html())
                       .end()
                     .find('#delete-btn')
                       .prop('href', `/timeline/comment/${comment.id}/delete`)
                       .html($('#trash').html())
                       .end()
                     .addClass('flex-shrink-0 text-peach inline ml-auto')
                  : ''
              )
              .addClass('flex flex-row justify-stretch')
          )
          .append($('<p></p>').text(comment.text))
          .addClass('border px-4 py-2 border-white-dark')
          .prop('outerHTML')
      ))
      .join('')
  )
  .addClass('pl-4');
}

$('#comment-form').on('submit', (e) => {
  e.preventDefault();

  fetch("{% url 'timeline:create_comment' post.id %}", {
    method: 'POST',
    body: new FormData(e.target),
  }).then(() => {
    refreshComments();
    e.target.reset();
  });
})

refreshComments();
</script>

{% endblock content %}
