{% extends 'base_navbar.html' %}

{% block content %}
<div class="sticky top-24 px-4 py-2 border border-moss-green-darker bg-white">
  <div>
    <span>{{ post.user.foodieprofile.full_name }}</span>
    <span class="text-peach">@{{ post.user.username }}</span>
  </div>
  <p>{{ post.text }}</p>
</div>

<main>
  <div id="comment-container" class="mt-4 mb-8">
  </div>

  <form class="flex flex-row gap-2 sticky bottom-6" id="comment-form">
    <input type="text" class="focus:outline-none px-2.5 flex-grow bg-white-light border border-moss-green-darker" placeholder="Berikan komentarmu" />
    <button class="bg-sage-dark text-white py-2 px-4">Comment</button>
  </form>
</main>

<script>
function getComments() {
  return fetch("{% url 'timeline:get_comments' post.id %}").then(res => res.json());
}

async function refreshComments() {
  const comments = await getComments();

  $("#comment-container").html(
    comments
      .map(comment => (
        $('<div></div>')
          .append(
            $('<p></p>')
              .html('<strong></strong> @<span></span> replied:')
              .find('strong').text(comment.user_fullname).end()
              .find('span').text(comment.username).end()
          )
          .append($('<p></p>').text(comment.text))
          .append(
            comment.user_id === "{{ post.user_id }}"
              ? `<a href="/timeline/comment/${comment.id}/edit">[edit]</a> &mdash;
                 <a href="/timeline/comment/${comment.id}/delete">[delete]</a>`
              : ''
          )
          .html()
      ))
      .join('')
  );
}

$('#comment-form').on('submit', (e) => {
  e.preventDefault();

  fetch("{% url 'timeline:create_comment' post.id %}", {
    method: 'POST',
    body: new FormData(e.target),
  }).then(() => {
    refreshComments();
    e.target.reset();
  });
})

refreshComments();
</script>

{% endblock content %}
